<div class="page-header">
	<h1>This is the todo page</h1>
</div>

<div class="todo-list-container">
	<label>Add a todo!</label>
	<form ng-submit="todos.addTodo()">
		<input type="text" name="newTodo" ng-model="todos.newTodo">
		<input type="submit" value="Add new todo!">
	</form>
	<ul class="todo-list">
		<li class="todo-list-item" ng-repeat="todo in todos.todos track by $index">
			<span class="todo-list-item-name">{{todo}}</span>
			<button ng-click="todos.getCurrentTodoIndex($index)">EDIT</button>
		</li>
	</ul>
	<form ng-show="todos.showEditField" ng-submit="todos.editTodo($index)">
		<input type="text" name="todoName" ng-model="todos.editedTodo">
		<input type="submit" value="Send!">	
	</form>
</div>